#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Colour variables */
:root {
  --dark-purple-black: #1a1423;
  --deep-plum: #372549;
  --muted-mauve: #774c60;
  --vintage-rose: #b75d69;
  --soft-beige: #eacdc2;
}

/* 
How to use the variables: var(--VARIABLE_NAME) 
e.g
h4 {
  color: var(--deep-plum);
}
*/

.logo {
  height: 15em;
  padding: 5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  justify-content: center;
  align-items: center;
}


