footer {
  background: var(--deep-plum);
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  bottom: 0;
}

.main-footer-text,
.group-name-date {
  color: var(--soft-beige);
  font-size: 0.9rem;
  text-align: center;
}

.intro-tmbd-text {
  color: var(--soft-beige);
  font-size: 0.8rem;
  text-align: left;
}

.tmdb-logo {
  max-width: 10%;
}
