footer {
    background: var(--deep-plum);
    color: var(--soft-beige);
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    bottom: 0;
  }