.movie-grid {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.movie-card {
  color: var(--soft-beige);
  display: flex;
  gap: 4rem;
  margin: 2rem auto;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 75%;
  padding: 4rem;
  transition: transform 0.3s ease-in-out;
}

.movie-card:hover {
  transform: translateY(-5px);
}

.movie-image {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.movie-stats {
  padding-top: 1rem;
  text-align: left;
}

.movie-stats h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  align-items: left;
  color: var(--soft-beige);
}

.movie-stats p {
  font-size: 0.95rem;
  color: var(--soft-beige);
  margin-bottom: 0.4rem;
}

.movie-image {
  max-width: 35%;
  height: auto;
  object-fit: cover;
}

.quiz-results-heading {
  padding-top: 2rem;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--soft-beige);
}

.quiz-results-container {
  padding: 2rem;
  text-align: center;
}

.error-message {
  color: #d9534f;
  font-weight: bold;
  margin-top: 1rem;
}

.fade-in {
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
