
.movie-card {
    color: var(--soft-beige);
    display: flex;
    gap: 4rem;
    margin: 2rem auto;
    justify-content: center;
    max-width: 75%;
    padding: 4rem;

}

.movie-stats {
    padding-top: 3rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.movie-image {
    max-width: 35%;
    height: auto;
    object-fit: cover;
}

h1 {
    padding-top: 2rem;
}