body {
  background-color: #1a1423;
}

h1 {
  color: #eacdc2;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #eacdc2;
  border-radius: 10px;
  padding: 2em 2em 24em;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2%;
}

.path-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #eacdc2;
  border-radius: 10px;
  padding: 1em;
}
